<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title></p>
    <meta name="description" content="{{ page.description | default: site.description | escape }}">
    {%- include head.html -%}
  </head>
  <body>
    <!-- Include the header -->
    {%- include header.html -%}

    <!-- Main content area -->
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- Include the footer -->
    {%- include footer.html -%}
  </body>
</html>